.BG {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

.BGLogo {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -2;
}

.leftSide-1 {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftSide-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftSide-3 {
	display: flex;
	justify-content: center;
}

.group {
	margin-top: 1rem;
	margin-left: -7rem;
}

.group-2 {
	display: flex;
	justify-content: center;
	margin-right: 22rem;
	padding-left: 2rem;
}

/* 4K */
@media screen and (max-width: 3840px) {
	.small-screens {
		display: none;
	}

	.group-2 {
		display: flex;
		justify-content: center;
		margin-right: 22rem;
		padding-left: -5rem;
		margin-top: 15em;
	}

	.brand-icon {
		width: 8rem;
	}

	.brand {
		font-size: 6rem;
	}

	form {
		width: 290px;
	}

	.leftSide h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.container {
		grid-gap: 5rem;
		display: block;
	}

	.quote-texts {
		text-align: left;
		font-size: 36px;
		margin-left: 40px;
	}

	.brown {
		margin-top: 0px !important;
	}
}

/* 1920x1080 */
@media screen and (max-width: 1920px) {
	.small-screens {
		display: none;
	}

	.group-2 {
		display: flex;
		justify-content: center;
		margin-right: 22rem;
		padding-left: -5rem;
		margin-top: 10em;
	}

	.brand-icon {
		width: 8rem;
	}

	.brand {
		font-size: 6rem;
	}

	form {
		width: 290px;
	}

	.leftSide h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.container {
		grid-gap: 5rem;
		display: block;
	}

	.quote-texts {
		text-align: left;
		font-size: 36px;
		margin-left: 40px;
	}

	.brown {
		margin-top: 0px !important;
	}
}

/* 1600x900 */
@media screen and (max-width: 1600px) {
	.group-2 {
		display: flex;
		justify-content: center;
		margin-right: 22rem;
		padding-left: -5rem;
		margin-top: 7em;
	}
}

/* 1366x768 */
@media screen and (max-width: 1366px) {
	.small-screens {
		display: none;
	}

	.group-2 {
		display: flex;
		justify-content: center;
		margin-right: 22rem;
		padding-left: -5rem;
		margin-top: -2.5em;
	}

	.brand-icon {
		width: 8rem;
	}

	.brand {
		font-size: 4rem;
	}

	form {
		width: 290px;
	}

	.leftSide h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.container {
		grid-gap: 5rem;
		display: block;
	}

	.quote-texts {
		text-align: left;
		margin-left: 3em;
	}

	.brown {
		margin-top: 0px !important;
	}
	.loader>img {
		width: 80%;
	}
}

/* 1024x768 */
@media screen and (max-width: 1024px) {
	.small-screens {
		display: none;
	}

	.brand-icon {
		width: 8rem;
	}

	.brand {
		font-size: 4rem;
	}

	form {
		width: 290px;
	}

	.leftSide h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.container {
		grid-gap: 5rem;
		display: block;
	}

	.quote-texts {
		text-align: left;
	}

	.brown {
		margin-top: 0px !important;
	}
}

/* 800x600 and phone viewports */
@media screen and (max-width: 800px) {
	.small-screens {
		display: contents;
	}

	.medium-screens {
		display: none;
	}

	.quotes {
		size: 8px;
	}

	.container {
		grid-template-columns: 1fr;
		display: block;
		text-align: center;
	}

	.BG {
		display: none;
	}

	.leftSide {
		justify-content: center;
		align-items: center;
	}

	.brand {
		font-size: 4rem !important;
	}

	.logoShape {
		width: 10rem !important;
	}

	.group {
		display: flex !important;
		justify-content: center !important;
		margin-top: 2rem;
		margin-left: 0;
	}

	.group-2-small {
		margin-top: -5em;
	}
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.brand {
	font-family: 'Myriad Pro Semibold';
	color: #955F26;
	display: flex;
	align-items: center;
}

.quotes {
	font-family: 'Myriad Pro Semibold';
	color: rgb(199, 146, 89);
}

.brown {
	margin-top: 8rem !important;
	background-color: #955F26 !important;
	border-radius: 3rem !important;
	width: 14rem;
	height: 6rem;
	padding: 1.2em 1.5em .78571429em !important;
}

.brown:hover {
	background-color: #6D340D !important;
}

.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader>img {
	height: 80%;
	width: auto;
}

.loader.hidden {
	animation: fadeOut 3s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	from {
		opacity: 100;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}
