/* styling for mobile */
.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
}

.iconify {
    width: 28px;
    height: 28px;
    color: #6D340D;
}

.noti_count {
    font-size: 11px;
    position: absolute;
    top: 3px;
    right: 8px;
    background: #955F26;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1.5;
    border-radius: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.topButton {
    border-radius: .5rem !important;
    font-family: 'Myriad Pro Semibold';
}

.brown {
    background-color: #955F26 !important;
}

.brown:hover {
    background-color: #6D340D !important;
}

.dark-brown {
    background-color: #955F26 !important;
}

.dark-brown:hover {
    background-color: #6D340D !important;
}

.ui.secondary.menu .item {
    margin: 0 !important;
}

.ui.secondary.menu {
    border-radius: 0 0 10px 10px !important;
    background-color: #fff;
}
/* End styling for mobile */